html{
    height:100%;
}

body{
    display: flex;
    margin: 0;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background: rgb(224,224,224);
background: linear-gradient(40deg, rgba(224,224,224,0.6096639339329482) 0%, rgba(238,238,238,1) 50%, rgba(205,205,205,1) 100%);
}

.playerbuttons{
    display: flex;
    padding: 15px;
    border: 1.5px solid black;
    border-radius: 24px;
    box-shadow: 0px 0px 5px black;
    justify-content: space-evenly;
    background: linear-gradient(22deg, rgba(205,222,251,1) 0%, rgba(182,207,222,1) 100%);
    height: 10%;
    width: 25%;
    min-width: 250px;
    min-height: 60px;
}
.img{
    padding: 10px;
    cursor: pointer;
}

.score{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 100px;
    color: #00045b;
}

.result{
    display:flex;
    height: 20vh;
    width: 70vh;
    justify-content: space-evenly;
    align-items: center;
}

#bot{
    width: 20%;
    height: 70%;
    padding-left: 25px;
}

#player{
    width: 15%;
    height: 60%;
    padding-right: 25px;
}

.img:hover{
    transform: scale(1.2) rotate(-10deg);
}

.img:active{
    transform: translateY(4px);
}

.title{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 4%;
}

#winnerphrase{
    font-size: 50px;
    color:#00045b;
    font-family: Arial, Helvetica, sans-serif;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: rgba(97, 133, 140, 0.3);
    width: 100%;
    height: 3%;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

a{
    align-self: center;
    text-decoration: none;
    color: #000326;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
}

a:hover{
    text-decoration: underline;
}
